*{
    margin: 0;
    padding: 0;
}
.box{
    margin: auto;
    margin-top: 200px;
    width: 300px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    text-align: center;
    box-shadow: 5px 5px 2px #ccc;
}
.num{
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 30px;
}
.btn1{
    width: 60px;
    height: 25px;   
}
.btn1:hover{
    border: none;
    border-radius: 5px;
    background-color: rgb(153, 255, 0);
    color: white;
}
.btn2{
    width: 60px;
    height: 25px;   
}
.btn2:hover{
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}
.box2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}